<div class="container">
  <div ng-controller="ActionsCtrl">
    <div class="action-input-frame">
      <div class="action-input">
	<div class="row">
	  <div class="col-md-6">
	    {{action}}
	    <input type="radio" ng-model="action" value="A1">あああ
	    <input type="radio" ng-model="action" value="A2">いいい
	    <input type="radio" ng-model="action" value="A3">ううう
	  </div><!-- /col-md-6 -->
	  <div class="col-md-4">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="内容詳細" ng-model="detail">
	    </div><br/>
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="気づき" ng-model="notice">
	    </div><br/>
	    <div class="btn-group">
	      <button ng-disabled="tgStart" ng-click="clickStart()" class="btn btn-success">Start</button>
	      <button ng-disabled="tgEnd" ng-click="clickEnd()" class="btn btn-success">End</button>
	    </div>
	  </div><!-- /col-md-4 -->
	</div><!-- /row -->
      </div><!-- /action-input -->
    </div><!-- /raction-input-frame -->
    
    <div class="action-detail-frame">
      <div class="action-detail">
	<div class="table-responsive">
	  <table class="table table-bordered">
	    <tr><th>id</th><th>開始時刻</th><th>終了時刻</th><th>内容詳細</th><th>操作</th></tr>
	    <tr ng-repeat="action in actions">
	      <td>{{action.id}}</td>
	      <td>{{action.start_time}}</td>
	      <td>{{action.end_time}}</td>
	      <td>{{action.action_detail}}</td>
	      <td>{{action.notice}}</td>
	      <td><button ng-click="delete(action.id)">del</button></td>
	    </tr>
	  </table>
	</div><!-- /.table-responsive -->
      </div>
    </div>
  </div>
</div>
